@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
* {
  cursor: none !important;
}
/* ...EXCEPT for the iframe and its container so you can actually click and type */
iframe, 
.featured-demo-container,
input, 
button,
a {
  cursor: auto !important;
}